@font-face {
  font-family: 'Nanum Barun Gothic';
  src: url('../fonts/NanumBarunGothic.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: url('../fonts/NanumBarunGothicBold.ttf') format('truetype');

  font-weight: 600;
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: url('../fonts/NanumBarunGothicUltraLight.ttf') format('truetype');
  font-weight: 200;
}

body {
  font-family: 'Nanum Barun Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  line-height: 1.8;
  font-size: 16px;
  color: #333;
  word-break: keep-all;
}

a {
  color: $--color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  font-weight: bold;
}
